/* 共通 */

:root {
  --bg: #292929; /* ページの背景（グレー） */
  --text: #ffffff; /* 基本の文字色 */
  --accent: #ff6f31; /* アクセント色*/
}


body {
  background-color: var(--bg);
  color:var(--text);
  font-family: "Josefin Sans", sans-serif;
  font-weight: 300;
  font-style: normal;
  letter-spacing: .1rem;
  font-size: 1.5rem;
}

img {
  max-width: 100%;
  height: auto;
}

a {
  color: inherit;
  text-decoration: none;
}

li {
  list-style: none;
}

.container {
  width: 90%;
  max-width: 1100px;
  margin:0 auto;
}

h3 {
  color: var(--accent);
  font-size: 2rem;
  font-weight: 400;
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 10rem 0 5rem -2rem;
}

h3::before {
  content: '';
  display: inline-block;
  height: 2px;
  width: 50px;
  background-color: var(--accent);
}


@media screen and (max-width:768px){


  body {
  font-size: 1rem;
  }


h3 {
  display: flex;
  align-items: center;
  gap: 1rem;
  margin: 6rem 0 3rem 0;
}



}







/* header
==================================*/
header{
    background-color: #393939;
}

header .container {
  display: flex;
  justify-content: space-between;
  align-items: center;
  height: 10rem;
}

header h1 {
  font-size: 1.5rem;
}

header ul {
  display: flex;
  gap: 2.5rem;
}

nav{
  font-size: 2rem;
}

nav a {
  position: relative;
}

nav a::after {
  content: '';
  position: absolute;
  left: 0;
  bottom: -.7rem;
  width: 0;
  height: 1px;
  background: var(--accent);
  transition: 0.3s;

}
nav a:hover::after {
  width: 100%;
}



/* @media screen and (max-width:768px){

  nav{
    display: none;
  }

  nav.active{
    display: block;

} */

/* fv
==================================*/
.fv{
  background-color: #393939;
}
.fv .fv_box {
  display: flex;
  align-items: center;
  gap: 5rem;
  min-height: 70vh;
  width: 90%;
  margin: 0 auto;
}

.fv_text {
  flex: .7;
}
.fv_text h2 {
  font-size: 8rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 500;
  font-style: normal;
  letter-spacing: .3rem;
  line-height: 1;
}
.fv_text h2 span{
  color: var(--accent);
}
.fv_text p:nth-of-type(1){
  font-size: 7rem;
  letter-spacing: .3rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 300;
  font-style: normal;
}

.fv_text p:nth-of-type(2){
  font-size: 2rem;
  font-family: "Josefin Sans", sans-serif;
  font-optical-sizing: auto;
  font-weight: 200;
  font-style: normal;
  margin-top: 2rem;
}


.f_img {
  flex: 1;
  min-width: 500px;
}

.f_img img {
  width: 100%;
}



@media screen and (max-width:768px) {

.fv .fv_box{
  flex-direction: column-reverse;
  gap: 2rem;
  width: 100%;
}

.fv_text h2{
  font-size: 4rem;
}

.fv_text p:nth-of-type(1){
  font-size: 4rem;
}

.fv_text p:nth-of-type(2){
  font-size: 2rem;
  padding-bottom: 2rem;
}

.fv_text{
  flex: none;
  width: 100%;
  text-align: center;
}


.f_img{
  flex: none;
  width: 100%;
}

}


/* about
==================================*/


.prof_item{
  display: flex;
  gap: 3rem;
  line-height: 2;
}

.prof_item dt{
  width:10rem;
  font-weight: 500;

}
#about p{
  margin-top: 3rem;
}

.prof_item dd{
  flex: 1;
}


/* skill
==================================*/

.skill_list {
  display: flex;
  justify-content: space-around;
  gap: 2rem;
}
.skill_card img{
  height: 100px;
}

.skill_card {
 
  text-align: center;

}
.skill_card h4{
  margin-top: .3rem;
  font-weight: 400;
}

html{
  scroll-behavior: smooth;
}


@media screen and (max-width:768px){

.skill_list{
  flex-wrap: wrap;
}

.skill_card{
  width: calc(50% - 1rem);
}
}


/* works
==================================*/

/* web */
#works h4{
  margin: 5rem auto;
  text-align: center;
  text-decoration: underline;
  text-underline-offset: 1rem;
  text-decoration-thickness: 1px;
  font-size: 2rem;
  font-weight: 400;
}
.works_card{
  display: flex;
  justify-content: space-between;
  align-items: stretch;
  gap: 2rem;
  margin-bottom: 15rem;
}


.work_title{
  font-size: 2rem;
  font-weight: 400;
}


.works_text p{
  margin-top: 1rem;
}

.work_title span{
  color: var(--accent);
  font-size: 3rem;
  font-weight: 200;
  margin-right: 1rem;
}


.works_text{
  display: flex;
  flex-direction: column;
}
.works_text a{
  margin-top: auto;
  align-self: flex-end;
}
.works_text a span {
  color: var(--accent);
  padding-left: 1rem;
}
.works_text a:hover{
  color: var(--accent);
  transition: .5s;
}


/* graphic */
.graphic_list{
  display: flex;
  gap: 2rem;
  justify-content: space-between;
  height: 20rem;
}

.graphic_design a{
    display: block;
    text-align: right;
    margin-top: 3rem;
}
.graphic_design a span {
  color: var(--accent);
  padding-left: 1rem;
}
.graphic_design a:hover{
  color: var(--accent);
  transition: .5s;
}

@media screen and (max-width:768px) {

  /* web */
#works h4{
  margin: 3rem auto;
  font-size: 1.5rem;
  font-weight: 300;
}


  .works_card{
    flex-direction: column;
    gap: 1rem;
  margin-bottom: 7rem;
  }


  .work_title{
  margin-left: 0;
  font-size: 2rem;
  font-weight: 400;
}

.works_text p:nth-of-type(2){
  margin-left: 4rem;
}
.works_text p:nth-of-type(3){
  margin-left: 4rem;
}

.works_text a{
  border-bottom: 1px solid var(--accent);
  padding-bottom: .7rem;
  color: var(--accent);
}

/* graphic */
/* .graphic_list{
  flex-direction: column;
  margin: 0 auto;
  height: auto;
}

.graphic_list img{
  width: 100%;
}



.graphic_design{
  text-align: right;
} 

.graphic_design a{
  display: inline-block;
  border-bottom: 1px solid var(--accent);
  padding-bottom: .7rem;
  color: var(--accent);
  margin-top: 2rem;
} */



/* graphic */
.graphic_list {
  display: flex;
  flex-direction: row;
  gap: 1rem;
  margin: 0;
  height: auto;

  overflow-x: auto;
  scroll-snap-type: x mandatory;

  /* スクロールバーを非表示 */
  scrollbar-width: none;
  -ms-overflow-style: none;
}

.graphic_list::-webkit-scrollbar {
  display: none;
}


.graphic_design a {
  display: inline-block;
  border-bottom: 1px solid var(--accent);
  padding-bottom: .7rem;
  color: var(--accent);
  margin-top: 2rem;
}

/* 画像の高さを統一 */
.graphic_list img {
  flex: 0 0 80%;
  width: 80%;
  height: 27rem;
  object-fit: contain;
  scroll-snap-align: start;
}

.graphic_design {
  text-align: right;
}


  
}

/* contact
==================================*/
.contact_mail{
  display: flex;
  gap: 2rem;
  margin-bottom: 1rem;
}

#contact a img{
  height: 2rem;
}
#contact a{
    display: flex;
    align-items: center;
    gap: 1rem;
}
#contact a:hover{
  color: var(--accent);
  transition: .5s;
}



/* ページトップボタン */

.page_top{

  width: 4rem;
  height: 4rem;

  border: 1px solid var(--accent);
  border-radius: 50%;

  display: flex;
  justify-content: center;
  align-items: center;

  transition: .3s;
  position: fixed;
  right: 5rem;
  bottom: 5rem;
  z-index: 100;
  
}

.page_top::before{
  content: "";
  width: 1rem;
  height: 1rem;

  border-top: 2px solid var(--accent);
  border-right: 2px solid var(--accent);

  transform: rotate(-45deg);
}

.page_top:hover{
  background-color: #ff6f3115 ;
}
/* footer
==================================*/
footer{
  background-color: #393939;
  display: flex;
  justify-content: center;
  align-items: center;
  height: 4rem;
  margin-top: 10rem;
}

footer p{
  text-align: center;
}


@media screen and (max-width:768px) {

footer{
  height: 3rem;
  margin-top:5rem;
}

}